@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Sansita&display=swap");  /* imported fonts, Catamaran & Sansita*/

/* applies to all elements, removes margin, padding & border */

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --color-bg: #f4f4f4;
    --content-max-width: 2560px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
    max-width: var(--content-max-width);
    margin: 0 auto;
    background-color: var(--color-bg);
    font-size: 1rem;
    font-family: Catamaran, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

h1, h2 {
    font-family: Sansita, sans-serif;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #262626;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

/* styles for call to action buttons */

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    width: 20%;
    border: none;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 3px 7px #888888;
}

.button:hover {
    background-color: red;
    color: #fff;
}
.submit-button {
    width: 100px;
    padding: 15px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}
.submit-button:hover {
    background-color: red;
    color: #fff;
}

#register-button {
    margin-top: 20px;
    box-shadow: 5px 10px #888888;
}

#register-button a {
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 350px;
    border: 5px solid #333;
}

/* rules for nav links */

#menu {
    font-size: 110%;
    letter-spacing: .25rem;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu, #logo {
    line-height: 4.5rem;
}

#main-pic-container{
    height: 600px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
}

/* rules for hero image */

#main-pic {
    height: 600px;
    width: 100%;
    background: url("../images/unidentified-person-walking-dogs.jpg") no-repeat center center;

    animation-name: main-pic-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* animate image */

@keyframes main-pic-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

#site-selling {
    height: 400px;
}

#site-selling h2 {
    margin-bottom: 20px;
}

/* floated divs in index.html */

.block {
    float: left;
    width: 33.3%;
    margin-top: 40px;
    /* border: 1px solid #333; */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.block h2 {
    margin-top: 25px;
}

.block2 {
    /* float: left; */
    margin: 150px auto;
    width: 50%;
    border: 1px solid #333;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(228, 226, 227, 0.7);
}

/* this class is applied to divs to clear floated elements above */

.clear-floated-elements {
    clear: both;
}

footer {
    height: 50px;
    width: 100%;
    background-color: #3a3a3a;
    color: #f4f4f4;
    text-align: center;
    padding-top: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a {
    color: #f4f4f4;
    margin-right: 15px;
    margin-left: 15px;
}

/* about page */

.about-page {
    margin: 20px auto;
    padding: 20px;
    font-size: 1.75rem;
    line-height: 3.5rem;
    width: 80%;
    overflow: hidden;
    text-align: left;
}

.about-page h2 {
    font-size: 2.5rem;
    margin: 50px auto 20px auto;
    text-align: center;
}

.about-page a {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

#map {
    margin-top: 50px;
}

/* Registration page */

#registration-page {
    background: url("../images/dog-walk-4.png") no-repeat center center;
}

/* registration form */

.reg-form {
    padding: 20px;
    box-sizing: border-box;
}

.reg-form .form-group {
    padding-bottom: 15px;
    box-sizing: border-box;
}

.reg-form label {
    display: block;
    text-align: left;
    box-sizing: border-box;
}

.reg-form input[type="text"], input[type="email"], textarea {
    padding: 8px;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #333;
    box-sizing: border-box;
}

select {
    padding: 8px;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #333;
    box-sizing: border-box;
}

/* media queries */

/* large to medium screens */

@media screen and (max-width: 1200px) {
    #site-selling {
        margin: 0 auto;
    }
    .block {
        width: 65%;
        height: 35rem;
        margin-left: 15%;
    }
    .about-page {
        font-size: 1.25rem;
        line-height: 2.5rem;
        margin-bottom: 40px;
    }
    .about-page h2 {
        font-size: 1.5rem;
    }
}

/* mobile phone media queries */

@media screen and (max-width: 950px) {
    #main-pic-container {
        height: 300px;
        width: 100%;
    }
    #main-pic {
        height: 300px;
        width: 100%;
        background: url("../images/dog-run-gif.gif") no-repeat center center;
    }
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        
    }
    #menu, #logo {
        font-size: 85%;
        line-height: 2.5rem;
        letter-spacing: .2rem;
    }
    #menu li {
        list-style-type: none;
        margin-right: 10px;
    }
    #site-selling {
        margin: 0 auto;
    }
    .block {
        font-size: 1rem;
        width: 100%;
        height: 30rem;
        margin: 0 auto;
    }
    .block img {
        height: 250px;
        width: 250px;
    }
    .about-page {
        font-size: 1.12rem;
        height: 100%;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .about-page h2 {
        font-size: 90%;
    }
    footer a {
        margin-right: 5px;
        margin-left: 5px;
    }
    .block2 {
        width: 100%;
        border: none;
        margin: 30px auto;
    }
    .block2 h3 {
        font-size: 80%;
    }
    .block2 img {
        height: 200px;
        width: 200px;
    }
}