@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Sansita&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Catamaran, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}

h1, h2 {
    font-family: Sansita, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #262626;
}

#logo {
    float: left;
    font-size: 250%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#menu, #logo {
    line-height: 75px;
}

#main-pic {
    height: 900px;
    width: 100%;
    background: url('../images/pexels-blue-bird-custom.jpg') no-repeat center center;
}